<!--The header.-->
<header>
   <h1>
       <i class="{{=app.icon}}"></i>
       <span class="text">Opal Gems</span>
    </h1>
</header>
 

<!--The main content.-->
<main>
   <section>
       <div class="balance">
        <i class="icon fas fa-gem diamond" />
        <span class="text">5</span>
       </div> 
       <div class="balance">
        <i class="icon fas fa-gem ruby" />
        <span class="text">10</span>
       </div>
       <div class="balance">
        <i class="icon fas fa-gem emerald" />
        <span class="text">350</span>
       </div> 
       <div class="balance">
        <i class="icon fas fa-gem sapphire" />
        <span class="text">200</span>
       </div>
       <div class="balance">
        <i class="icon fas fa-gem opal" />
        <span class="text">5.3K</span>
       </div> 
   </section>
   
    <section>
       <b>Earnings</b>
       <div class="messages">
           <li>
               <label>The Prodigal Son</label>
               <div><b>-</b>
        <i class="icon fas fa-gem ruby" />
        <span class="text">10,300</span>
                   <p></p>
               </div>
           </li>
       </div>
   </section>
   
   <section>
       <b>Expenses</b>
       <div class="messages">
           <li>Onyx Theme</li>
       </div>
   </section>
   
</main>

<!--Footer for Controls and what not.-->
<footer><span class="brand text bold">OPAL</span><span class="version text">GEMS</span> <span class="version text bold">1.0.1</span></footer>