<a class="button" onclick="$.app('auth').pane('signup')">
    <span class="text">I'm new here.</span>
</a>
<a class="button" onclick="$.app('auth').pane('signin')">
    <span class="text">I've been here before.</span>
</a>