<table id="account_settings">
 <tbody>
  <tr>
   <td>
    <div class="component container form">
     <form>
                            
        <h1>Account Settings</h1>
        
        <br />
                            
        <div class="input">
            <i class="icon fas fa-envelope"></i>
        <input type="email" placeholder="Email Address" id="auth_emailaddress" />
        </div>
                            
        <br />
        
                   
        <div class="input">
            <i class="icon fas fa-phone"></i>
        <input type="email" placeholder="Phone Number" id="auth_phonenumber" />
        </div>
                            
        <br />
              
              
                            
        <br />            
        <br />
                            
        <div class="button">
            <i class="icon fas fa-lock"></i>
            <div class="text">Change Password</div>
        </div>
        
                
        <div class="button">
            <i class="icon fas fa-check"></i>
            <div class="text">Verify</div>
        </div>
                            
     </form>
     
    </div>
   </td>
  </tr>
 </tbody>
</table>
