<!--The header.-->
<header>
   <h1><i class="{{=app.icon}}"></i> Hi, {{=$.my.name}}!</h1>
</header>

<!--App Navigation-->
<nav>
</nav>

<!--The main content.-->
<main>
    <div class="app">
        <div id="ChatManager"></div>
        <div id="ChatBrowser"></div>
    </div>
</main>

<!--Footer for Controls and what not.-->
<footer><span class="brand text bold">OPAL</span><span class="version text">CHAT</span> <span class="version text bold">1.0.1</span></footer>